name: release

on:
  schedule:
    - cron: "0 22 * * *"
  workflow_dispatch:
  push:

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          fetch-depth: 0

      - name: Generate
        env:
          DO_TOKEN: ${{ secrets.DO_TOKEN }}
        run: |
          ./generate.sh

      - uses: stefanzweifel/git-auto-commit-action@3a446b74f0b1655361b260fb3c56299d77e635d3
        with:
          # Optional. Commit message for the created commit.
          # Defaults to "Apply automatic changes"
          commit_message: automatic generation

      - name: Deploy
        uses: peaceiris/actions-gh-pages@bd8c6b06eba6b3d25d72b7a1767993c0aeee42e7
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          enable_jekyll: true
